@font-face {
  font-family: 'Hacker';
  src: url('fonts/Hacked-KerX.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Barcode 128';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/librebarcode128.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  background-image: url('images/background_texture.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-position: 50% 50%;
}

@media screen and (orientation: portrait) {
  html,
  body {
    overflow-y: auto;
  }
}

.box {
  background-color: transparent;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  pointer-events: none;
  margin: auto;
  text-align: center;
  transition: 300ms ease-in-out;
}

.box .row.header {
  flex: 1 1 auto;
  pointer-events: none;
  margin-bottom: -4vh;
}

@media screen and (orientation: landscape) {
  .box .row.header {
    margin-bottom: -40vh;
  }
}

.box .row.content {
  flex: 1 1 auto;
  pointer-events: none;
  align-items: safe center;
}

.box .row.footer {
  flex: 0 1 50px;
  pointer-events: none;
}

canvas {
  display: block;
  pointer-events: auto;
  background: transparent;
}

.box h1 {
  position: relative;
  text-align: bottom;
  margin-top: 1.5vh;
  user-select: none;
  font-size: 7vw;
  font-family: "Hacker";
  transition: 300ms ease-in-out;
}

@media screen and (orientation: portrait) {
  .box h1 {
    font-size: 10vw;
  }
}

@media screen and (orientation: landscape) {
  .box h1 {
    margin-top: 29vh;
    font-size: 7vw;
  }
}

#barcode {
  width: 100%;
  pointer-events: none;
  position: absolute;
  user-select: none;
  text-align: left;
  margin-left: 15px;
  background-color: transparent;
  font-size: 50px;
  font-family: "Libre Barcode 128";
}

@media screen and (orientation: portrait) {
  #barcode {
    margin: auto;
    text-align: center;
  }
}

.contentButtons {
  z-index: 5;
  font-family: "Hacker";
  text-decoration: none;
  font-size: 3vw;
  position: relative;
  user-select: contain;
  background: transparent;
  cursor: pointer;
  pointer-events: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
  background: linear-gradient(to right, #9ef79e 20%, #85f185 30%, #85f185 70%, #9ef79e 80%);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: textShine 10s ease-in-out infinite running;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.contentButtons:hover {
  background: #bff5bf;
  background-clip: text;
}

.contentButtons:active {
  background: #9fd89f;
  background-clip: text;
}

@media screen and (orientation: portrait) {
  .contentButtons {
    font-size: 15vw;
    flex-direction: column;
    flex: 1;
  }
}

@media screen and (orientation: landscape) {
  .contentButtons {
    flex-direction: row;
  }
}

mark.green {
  color: #61eb61;
  background: none;
}

mark.light_green {
  color: #8af48a;
  background: none;
}

#particles-js {
  pointer-events: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

